#game-container-wrapper
  text-align: center

#game-container
  position: relative
  display: inline-block
  overflow: hidden

.blurred > canvas, .blurred > .fake-browser
  filter: blur(4px)

#dialog-container
  font-family: "Leftonade"
  height: 40%
  position: absolute
  bottom: 0
  width: 96%
  background-color: rgba(0, 0, 0, 0.7)
  margin: 2%
  margin-bottom: 0.7%
  padding: 20px
  padding-top: 0
  text-align: left
  color: white
  white-space: pre-line
  font-size: 16px

  @media (min-width: 700px)
    font-size: 19px
    height: 40%

  @media (min-width: 900px)
    font-size: 21px
    height: 25%

  @media (min-width: 1400px)
    height: 23%
    font-size: 24px

  @media (min-width: 1700px)
    font-size: 28px

  @media (min-width: 2000px)
    font-size: 32px
    height: 23%

  @media (min-width: 2500px)
    font-size: 45px
    height: 23%

  #message-source
    font-family: "Pribambas"
    color: #73cfff
    font-size: 21px  

    @media (min-width: 700px)
      font-size: 24px

    @media (min-width: 1100px)
      font-size: 30px

    @media (min-width: 1700px)
      font-size: 35px

    @media (min-width: 2500px)
      font-size: 50px

  #message-hint
    text-align: right
    color: #adb5bd

.show-phone-button
  z-index: 1
  position: absolute
  top: 12px
  right: 10px
  height: 72px
  width: 73px
  cursor: pointer
  outline: none
  background-color: transparent
  border: none
  background-size: 100%
  background-repeat: no-repeat
  background-image: url(../../img/button-phone-released.png)
  &:active
    background-image: url(../../img/button-phone-pressed.png)
  &:disabled
    background-image: url(../../img/button-phone-disabled.png)

