#game-container-wrapper
  text-align: center

#game-container
  position: relative
  display: inline-block
  overflow: hidden

.blurred > canvas, .blurred > .fake-browser
  filter: blur(4px)

#dialog-container
  font-family: "Pangolin"
  height: 20%
  position: absolute
  bottom: 0
  width: 100%
  background-color: rgba(0, 0, 0, 0.7)
  padding: 20px
  text-align: left
  color: white

  @media (max-width: 764px)
    height: 30%

  @media (max-width: 510px)
    height: 40%

  font-size: 16px
  #message-source
    font-weight: bold

  #message-hint
    text-align: right
    color: #adb5bd

.show-phone-button
  z-index: 1
  position: absolute
  top: 12px
  right: 10px
  height: 72px
  width: 73px
  cursor: pointer
  background-color: transparent
  border: none
  background-size: 100%
  background-repeat: no-repeat
  background-image: url(../../img/button-phone-released.png)
  &:active
    background-image: url(../../img/button-phone-pressed.png)
  &:disabled
    background-image: url(../../img/button-phone-disabled.png)

