iframe
	display: block
	margin: 50px auto 20px
	width: 100%
	height: 657px

.final-container
	width: 1170px
	margin: 0 auto
	height: 100%
	display: flex
	flex-direction: column
	font-family: "Leftonade", Arial, serif
	color: #0b2e4c


	.soc
		display: flex
		justify-content: space-between
		.like
			margin: auto 0
			width: 140px
			height: 47px
			background-image: url(../../img/like-unclicked.png)
			background-size: 100%
			background-repeat: no-repeat
			cursor: pointer
			transition: all .2s
			&:hover
				background-image: url(../../img/like-hover.png)
			&:active, &--active
				background-image: url(../../img/like-active.png)
		.share
			a
				display: inline-block
				width: 3.5em
				height: 3.5em
				background-size: 100%
				background-repeat: no-repeat
				cursor: pointer
				margin: 0 3px
				transition: .2s
			.facebook
				background-image: url(../../img/logo/facebook.png)
				&:hover
					background-image: url(../../img/logo/facebook-hover.png)
			.twitter
				background-image: url(../../img/logo/twitter.png)
				&:hover
					background-image: url(../../img/logo/twitter-hover.png)
			.google
				background-image: url(../../img/logo/google.png)
				&:hover
					background-image: url(../../img/logo/google-hover.png)
			.linkedin
				margin-right: 0
				background-image: url(../../img/logo/linkedin.png)
				&:hover
					background-image: url(../../img/logo/linkedin-hover.png)
	.block-title
		font-size: 2em
		font-family: "Pribambas", Arial, serif
		text-align: center
	.leaderboard
		margin: 50px 0 70px
		text-align: center
		table
			background-color: #f6f6f6
			margin: 20px 0
			width: 100%
			font-size: 2em
			color: #3b3b3b
			padding-bottom: 15px
			th
				background-color: #3b3b3b
				color: #fff
				padding: 7px 0
			td
				padding: 5px 0
			tr:nth-of-type(2) td
				padding-top: 15px
		.export
			float: right
			font-family: "Leftonade", Arial, serif
			font-size: 1em
			text-align: right
			cursor: pointer
			text-decoration: underline
			color: #3b3b3b
	.comments
		margin: 50px 0
		background-color: #f1f1f1ba
		box-sizing: content-box
		padding: 19px

@media screen and (max-width: 1200px)
	.final-container
		width: 970px
	iframe
		height: 545px

@media screen and (max-width: 992px)
	.final-container
		width: 750px
	iframe
		height: 422px

@media screen and (max-width: 768px)
	.final-container
		width: 97%

@media screen and (max-width: 640px)
	iframe
		height: 352px

@media screen and (max-width: 500px)
	.final-container
		.soc
			.like
				width: 110px
				height: 34px
			.share
				div
					width: 2em
					height: 2em
		.leaderboard
			table
				font-size: 1em
	iframe
		height: 264px

.opis_g2
 background-image: url(../../img/login/fon_auth.png)
 background-size: 100%
 background-position: cover
 background-repeat: no-repeat
 width: 580px
 padding: 28px
 overflow: auto


.opis_container
 height: 100%
 max-height: 100% !important


.fedd
    margin-top: 17px
    cursor: pointer
    width: 247px
    background-color: inherit
    background-image: url(../../img/login/button_auth.png)
    background-size: 100%
    background-repeat: no-repeat
    border: none
    padding:
    padding-top: 9px
    padding-bottom: 18px
    height:
    font-size: 2.2rem
    font-family: Pribambas

img.line_f
    padding: 19px 0
    width: 100%

.email_style 
    font-family: Leftonade !important
    width: 85%
    background-color: white
    border: 2px solid black
    padding: 7px
    margin: 4px
    font-size: 1.4rem !important

.wrap_em
    text-align: center
    display: flex
    justify-content: center


.photo1
    width: 930px
    padding: 10px 30px
    overflow: auto
    background-image: url(../../img/team/fon.png)
    background-size: cover
    background-repeat: no-repeat


.wrap_ab
    align-items: center
    display: flex
    justify-content: center

// h1.photo_h1
// 	font: 3rem "Pribambas"
//     text-align: center
//     color: #0b3457
// 	margin: 10px

h1.photo_h1
	text-align: center
	margin: 10px
	color: #0b3457
	font-family: Pribambas
	font-size: 3rem


.wrap_ab img
    width: 40%
    height: 3px

.wrap_ab h2 
    margin: 10px
    font-size: 1.1rem
    color: #777777
    font-family: Leftonade


.wrap-item
    padding: 2px
    display: flex
    flex-wrap: wrap
    justify-content: space-between


.items
    text-align: center

.items img
    width: 190px

// .items h1
// 	font-family: Pribambas
//     font-size: 2.4rem
//     color: #0b3457
//     margin: 6px

.items h1
	color: #0b3457
	margin: 6px
	font-size: 2.4rem
	font-family: Pribambas

.items h2
    color: #777777
    font-family: Leftonade
    font-size: 1.4rem
    margin: 3px

.opis_container3
    max-height: 100% !important



@media (min-width: 769px) and (max-width: 1024px)
    .wrap_ab img
     display: none

    .wrap_ab h2
     font-size: 1.4rem  
    .wrap-item
     justify-content: space-between


@media (min-width: 320px) and (max-width: 768px)
   .wrap_ab img
     display: none

   .wrap_ab h2
     font-size: 1.4rem
   .wrap-item
     justify-content: center

@media (min-width: 769px) and (max-width: 859px)
  .wrap-item
      justify-content: space-around

