@import "../../etc/stroke.scss"

.fake-browser
  z-index: 1
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  background-image: url("../../img/1-4 (browser)/background.png")
  background-size: 100%


.regmain
  margin: 0 auto
  background-image: url("../../img/1-4 (browser)/booklet.png")
  width: 42%
  background-repeat: no-repeat
  background-size: 100%
  margin-top: 40px
  width: 54%
  justify-content: flex-end
  height: 68.3%
  align-items: flex-end
  display: flex


.register-link
  cursor: pointer
  width: 25%
  margin-bottom: 3.3%
  margin-right: 4.1%
  cursor: pointer
  height: 10%
  z-index: 4

.form-container


.imga
  cursor: pointer
  height: 100%
  width: 100%
  background-size: 100%
  background-repeat: no-repeat
  background-image: url("../../img/1-4 (browser)/link-register.png")

  &:active
    background-image: url("../../img/1-4 (browser)/Button_On.png")


 

  .input-container > form > input
    font-family: "Pangolin"
    background-color: #fff
    border: 1px solid rgb(185,185,185)
    border-radius: 1px
    border-top-color: rgb(160,160,160)
    cursor: text
    display: inline-block
    height: 36px
    line-height: 36px
    max-width: 672px
    position: relative
    width: 618px
    padding: 0 8px
    top: 2px

  form .warning
    color: #9a161a
    padding-top: 1em

  .controls-container
    margin-top: 16%

    .links-container
      margin-top: 5%
      width: 600px
      display: flex
      margin-right: auto
      margin-left: auto
      justify-content: space-between
      flex-direction: row

      @media(max-width: 840px)
        width: 400px
        img
          height: 70px

  .form-container
    background-image: url("../../img/1-4 (browser)/background.png")
    position: relative
    height: 75%
    overflow-y: scroll
    background-color: white
    padding-bottom: 40px

  .btn-continue
    cursor: pointer
    background: transparent
    border: none
    outline: none
    font-family: Neucha
    font-size: 42px
    position: absolute
    bottom: 2%
    right: 50px
    color: white
    @include text-stroke(4, #000)
    @media (max-width: 1000px)
      font-size: 30px
    @media (min-width: 1300px)
      font-size: 60px

 
.cartm
  height: 100%
  width: 55%
  background-image: url("../../img/1-4 (browser)/fffff.png")
  background-size: 100%
  background-repeat: no-repeat

.form-container1
  height: 71%
  display: flex
  justify-content: center
  margin-top: 40px





