.auth
  background-color: #fff
  min-width: 250px
  max-width: 490px
  width: 90%
  margin-left: auto
  margin-right: auto
  margin-top: 32px
  padding: 15px 40px
  box-shadow: 3px 3px 8px #aaa
  h3
    text-align: center
    font-size: 2.5em
    font-family: "Neucha", Arial, serif
  .drawn-btn__google
    width: 250px
    height: 55px
  .drawn-btn__register
    cursor: pointer
    border: none
    width: 250px
    height: 82px
    outline: none
    margin: 0 auto
    background-color: initial
    background-image: url("../../img/1-4 (browser)/link-register.png")
    &:active
      background-image: url("../../img/1-4 (browser)/Button_On.png")
  .md-text-field-container input,
  .md-text-field-container label
    font-size: 1.1em
    font-family: "Neucha", Arial, serif