.clearfix:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0

.head // Херед приложений
  display: flex
  height: 10%
  background-color: #E75555
  color: #fff
  .title
    margin: auto 5%

.phone-wrapper // Телефон
  background-color: black
  height: 86% // x1,93 // 386
  width: 25%  // 200
  padding: 1.5% .5%
  border-radius: 30px
  position: relative
  font-family: "OpenSansRegular"
  font-size: 16px
  position: absolute
  bottom: -100%
  right: 80px
  transition: all 1s ease-in-out
  &--shown
    bottom: 0
  .dynamic
    background-color: #292929
    height: .9%
    width: 14%
    border-radius: 13%
    margin: 0 auto
  .screen // экран
    margin: 6% auto 3%
    height: 88%
    background: linear-gradient(to top, #6A278D, #24448D)
    color: #fff
    .home // Главный экран
      height: 95%
    .top-bar // Верхняя панель
      position: relative
      height: 5%
      padding: 1% 2%
      background-color: rgba(0, 0, 0, .8)
      color: #fff
      font-size: .8em
      .time
        position: absolute
        left: 44%
      .right
        float: right
        font-size: .85em
        i
          padding: 4% 0
    .todo-list // Список заданий
      width: 100%
      height: 60%
      .head
        height: 16%
        justify-content: space-between
        background-color: #2384D1
      .list
        width: 100%
        max-height: 84%
        background-color: rgba(255, 255, 255, .85)
        color: #474747
        overflow-y: scroll
        font-family: "Exo2Regular"
        li
          list-style-type: none
          padding: 7% 5%
          border-bottom: 1px solid #D4D4D4
          .text
            width: 90%
            float: left
            padding-right: 5%
          .state
            display: flex
            margin: auto
            width: 10%
            float: right
            .ok
              font-size: 1.2em
              color: #00D023
            .circle
              width: 1em
              height: 1em
              border: 2px solid #909090
              border-radius: 50%

  // Приложение на главном экране
  .apps
    display: flex
    justify-content: space-around
    width: 100%
    height: 40%
    // margin-top: 10%
    align-items: center
    .item
      flex-basis: 25%
      height: 40%
      cursor: pointer
      .icon
        width: 100%
        height: 100%
        background: transparent
        background-size: 100%
        background-repeat: no-repeat
      .title
        font-size: .95em
        text-align: center
        font-family: "OpenSansLight"
      .icon.map
        background-image: url(../../../img/map-released.png)
        &:active
          background-image: url(../../../img/map-pressed.png)
      .icon.mail
        background-image: url(../../../img/post-released.png)
        &:active
          background-image: url(../../../img/post-pressed.png)
  // Приложение "Почта"

  .button // Кнопка "Домой"
    position: relative
    height: 2.5em
    width: 2.5em
    margin: 0 auto
    border-radius: 50%
    background-color: #252525
    cursor: pointer
    .square
      position: absolute
      top: 30%
      left: 30%
      width: 40%
      height: 40%
      border: 1px solid #575757
      border-radius: 15%