

@font-face{
    font-family: 'Pribambas';
    src: url(../font/Pribambas-Regular.ttf);
}

@font-face{
    font-family: 'Leftonade';
    src: url(../font/Leftonade-Regular.otf);
}

body{
    margin: 0;
    padding: 0;

    font-family: 'Pribambas';
}

.main{
    /* background-image: url(../img/main_bg.png); */
    height: 100%;
    background: url(../img/main_bg.png) no-repeat center top / cover;
    /* background-size: 100%;
    background-repeat: no-repeat; */
    
}

.main-text{
    display: flex;
    justify-content: center;
    margin-top: 2.62%;
}

.for_t{
    width: 61.57%;
}
.for_t h1{
    text-align: center;
    font-size: 4.8vw;
}

.main-text_p{
    /* margin-top: 6.58%; */
    display: flex;
    justify-content: center;
}
.text_p{
    width: 61.57%;
}

.text_p p{
    font-family: 'Leftonade';
    text-align: center;
    font-size: 1.8vw;
}

.main-button{
    display: flex;
    flex-direction: column;
    width: 19%;
}

.imgb{
    width: 100%;
}

.wrapper{
    display: flex;
   
    justify-content: center;
}

.abutton{
    background-image: url(../img/start.png);
    background-size: 100%;
}

.but-start{
    background-image: url(../img/start.png);
    background-size: 100%;
    /* margin-bottom: 10%; */
    margin-bottom: 4%;
    background-position: center;
    background-repeat: no-repeat;
}

.but-start:hover{
    transform: translate3d(0px, -2px, 0px);
}
.but-cont:hover{
    transform: translate3d(0px, -2px, 0px);
}
.but-start:active{
    transform: translate3d(0px, 0px, 0px);
}
.but-cont:active{
    transform: translate3d(0px, 0px, 0px);
}

.but-start a{
    text-decoration: none;
}

.but-start p{
    padding-bottom: 0px;
    color: black;
    font-size: 2.5vw;
    text-align: center;
}

.but-cont{
    background-image: url(../img/continue.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.but-cont a{
    text-decoration: none;
}

.but-cont p{
    padding-bottom: 0px;
    color: black;
    font-size: 2.5vw;
    text-align: center;
}

.footer{
    margin-bottom: 7.4%;
    height: 100%;
    margin-top: 23.94%;
    display: flex;
    justify-content: center;

}
.butf{
   
    width: 24.92%;
    display: flex;
    flex-direction: column;
}

.butf a{
    font-size: 1.9vw;
    text-decoration: none;
    text-align: center;
    color: white;
}
.wrap{
    display: flex;
    flex-direction: column;
}


    @media (min-width: 970px) {
        .footer {
            margin-bottom: 7.4%;
    height: 100%;
    margin-top: 23.94%;
    display: flex;
    justify-content: center;
        }
        
        
    } 


.fot{
    display: flex;
    justify-content: center;
}

.lest{
    background-image: url(../img/lest.png);
    background-position: center;
    background-repeat: none;
    background-size: 100%;
}

.link-f:nth-child(3){

}

.link-f:nth-child(4){

}

.link a{
    
}

.link-f a p{
    margin: 6.1%;
 }